<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">Patient:</div>
        <div class="col">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Patent</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi" />
          </mat-form-field>
        </div>
        <div class="col">
          <button class="btn btn-secondary">SEND</button>
        </div>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Contect Number</th>
              <th scope="col">Select</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td><input type="checkbox" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">Bill Preview</div>
        <div class="col"><button class="btn btn-secondary">PRINT</button></div>
      </div>
    </div>
  </div>
</div>
